<div class="">
  <div class="pb-3 border-b-[2px] border-border_subtle">
    <div
      class="flex items-center justify-between space-x-3 text-sm mobile:text-base text-type_title_gray mb-3"
    >
      <p>Product</p>
      <p>Total</p>
    </div>

    <div
      class="flex items-center justify-between space-x-3 text-sm mobile:text-[20px] text-type_title_gray"
    >
      <div class="flex items-center space-x-2">
        <img src="assets/images/toy-1.jpeg" alt="" class="w-12 h-12" />
        <div class="text-sm mobile:text-base text-type_grey">
          <p>Palm Slippers</p>
          <p class="text-type_title font-semibold">x2</p>
        </div>
      </div>
      <p class="text-sm mobile:text-base text-type_grey">#4000</p>
    </div>
  </div>

  <div
    class="flex items-center justify-between space-x-4 text-sm mobile:text-base text-type_title_gray py-3 border-b-[2px] border-border_subtle"
  >
    <p>Subtotal</p>
    <p class="text-type_title_gray font-semibold">#4000</p>
  </div>

  <div
    class="flex items-center justify-between space-x-4 text-sm mobile:text-base text-type_title_gray py-3 border-b-[2px] border-border_subtle"
  >
    <p>Delivery Fee</p>
    <p class="text-type_title_gray font-semibold">#4000</p>
  </div>

  @if (paymentMethod()) {
    <div
      class="flex items-center justify-between space-x-4 text-sm mobile:text-base text-type_title_gray py-3 border-b-[2px] border-border_subtle"
    >
      <p>Payment method</p>
      <p class="text-type_title_gray font-semibold">{{ paymentMethod() }}</p>
    </div>
  }

  <div
    class="flex items-center justify-between space-x-4 text-sm mobile:text-base text-type_title_gray py-3 border-b-[2px] border-border_subtle"
  >
    <p>Total</p>
    <p class="text-type_title_gray font-semibold text-lg mobile:text-2xl">
      #4000
    </p>
  </div>
</div>
