<div class="w-full">
  <h1 class="font-playfair title text-lg">FILTER BY</h1>

  <div class="space-y-1 my-5 mt-2">
    <div class="flex items-center justify-between">
      <h4 class="text-type_title_gray font-semibold">Price (₦)</h4>
      <button
        class="py-2 text-primary font-semibold text-sm"
        type="button"
        (click)="onApplyPriceFilter()"
      >
        Apply
      </button>
    </div>
    <div class="price-slider">
      <div class="text-type_grey text-sm mb-2">
        <span>₦{{ rangeValues()[0] | number }}</span>
        <span> - </span>
        <span>₦{{ rangeValues()[1] | number }}</span>
      </div>
      <div class="card flex justify-content-center"></div>
      <p-slider
        [ngModel]="rangeValues()"
        (ngModelChange)="onRangeValuesChange($event)"
        [min]="1000"
        [max]="10000000"
        [step]="500"
        [range]="true"
        styleClass="w-10rem"
      />
    </div>
  </div>

  <div class="space-y-1 my-6 rating-filter">
    <div class="flex items-center justify-between">
      <h4 class="text-type_title_gray font-semibold">Rating</h4>
      <button
        class="py-2 text-primary font-semibold text-sm"
        type="button"
        (click)="onResetRatingFilter()"
      >
        Reset
      </button>
    </div>
    <div class="space-y-3">
      @for (
        rating of [5, 4, 3, 2, 1, 0];
        track rating;
        let mainIndex = $index
      ) {
        <div class="flex items-center">
          <p-radioButton
            [name]="mainIndex + '-stars'"
            [value]="rating"
            [ngModel]="ratingFilter"
            (ngModelChange)="onSelectRatingFilter($event)"
            [inputId]="mainIndex + '-stars'"
          />
          <label [for]="mainIndex + '-stars'" class="ml-2">
            <div class="flex items-center space-x-[2px]">
              @for (item of stars(); track item.star; let i = $index) {
                <i
                  class="fa fa-star h-full text-[18px] text-yellow-400"
                  [ngClass]="{
                    '!text-gray-300': item.star > rating,
                  }"
                ></i>
              }
            </div>
          </label>
        </div>
      }
    </div>
  </div>

  <div>
    <div
      class="flex items-center justify-between cursor-pointer"
      (click)="onToggleFilter(1)"
    >
      <h4 class="text-type_title_gray font-semibold">Date</h4>
      <i
        class="fa fa-caret-up transition-all duration-300"
        [ngClass]="{
          'rotate-180': isShowing()[1],
        }"
      ></i>
    </div>
    <ul
      class="transition-all duration-300 ease-in-out h-0 overflow-hidden"
      [ngClass]="{ '!h-10': isShowing()[1] }"
    >
      <li
        class="text-type_grey cursor-pointer flex items-center leading-tight group break-words"
        (click)="onSortOrder('old')"
      >
        <span
          class="text-primary text-[25px] -translate-y-[1px] mr-2 opacity-0 transition-all duration-300 tablet:group-hover:inline-block tablet:group-hover:opacity-100 tablet:group-hover:translate-x-0"
          [ngClass]="{
            'inline-block opacity-100 translate-x-0':
              currentSort() === 'old' || !currentSort(),
          }"
        >
          <svg
            width="8"
            height="9"
            viewBox="0 0 8 9"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <circle cx="4" cy="4.5" r="4" fill="#800020" />
          </svg>
        </span>
        <div
          class="transform -translate-x-[16px] tablet:group-hover:translate-x-1 group-hover:text-primary transition-all duration-300"
          [ngClass]="{
            '!translate-x-1 text-primary ':
              currentSort() == 'old' || !currentSort(),
          }"
        >
          <span class="category-title break-words leading-[1]"
            >Old to New
          </span>
        </div>
      </li>

      <li
        class="text-type_grey cursor-pointer flex items-center leading-tight group break-words"
        (click)="onSortOrder('new')"
      >
        <span
          class="text-primary text-[25px] -translate-y-[1px] mr-2 opacity-0 transition-all duration-300 tablet:group-hover:inline-block tablet:group-hover:opacity-100 tablet:group-hover:translate-x-0"
          [ngClass]="{
            'inline-block opacity-100 translate-x-0': currentSort() == 'new',
          }"
        >
          <svg
            width="8"
            height="9"
            viewBox="0 0 8 9"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <circle cx="4" cy="4.5" r="4" fill="#800020" />
          </svg>
        </span>
        <div
          class="transform -translate-x-[16px] tablet:group-hover:translate-x-1 group-hover:text-primary transition-all duration-300"
          [ngClass]="{
            '!translate-x-1 text-primary ': currentSort() == 'new',
          }"
        >
          <span class="category-title break-words leading-[1]"
            >New to Old
          </span>
        </div>
      </li>
    </ul>
  </div>
  @if (currentPriceFilter() || currentSort()) {
    <div class="flex items-center justify-between mt-2">
      <p class="text-type_title_gray font-semibold">
        {{ 0 | numberOfFilters }} applied
      </p>

      <button
        class="py-2 text-primary font-semibold text-sm"
        type="button"
        (click)="onClearFilter()"
      >
        Clear
      </button>
    </div>
  }
</div>
