<div class="w-full">
  @if (currentCategory()) {
    <div>
      <h1 class="font-playfair text-lg md:text-3xl font-bold mb-3">
        {{ currentCategory()?.name }}
      </h1>

      <div class="w-full scroll-snap-x py-3 border-y-[2px] border-[#DCDCDC]">
        <div
          class="flex items-center space-x-5 min-w-full pr-5 overflow-x-auto"
        >
          <div class="space-x-5 text-type_grey scroll-snap-start">
            <span
              class="text-type_grey whitespace-nowrap cursor-pointer h-5 uppercase"
              (click)="onViewSubCategory()"
              [ngClass]="{
                'border-b-[2px] !text-primary border-primary font-semibold':
                  !currentSubCategory(),
              }"
              >All</span
            >

            <span class="text-border_subtle">/</span>
          </div>
          @for (
            cat of currentCategory()?.subCategories;
            track cat.id;
            let i = $index
          ) {
            <div
              class="space-x-5 text-type_grey scroll-snap-start"
              [id]="cat.id"
              #subCategoryNav
            >
              <span
                class="text-type_grey whitespace-nowrap cursor-pointer h-5 uppercase"
                (click)="onViewSubCategory(cat)"
                [ngClass]="{
                  'border-b-[2px] !text-primary border-primary font-semibold':
                    cat.id.toLowerCase() ===
                    currentSubCategory()?.id?.toLowerCase(),
                }"
                >{{ cat.name }}</span
              >
              @if (i < currentCategory()?.subCategories?.length! - 1) {
                <span class="text-border_subtle">/</span>
              }
            </div>
          }
        </div>
      </div>
    </div>
  } @else {
    <h1 class="font-playfair text-lg md:text-3xl font-bold mb-3">All Toys</h1>
  }
</div>
