<div class="mobile:flex hidden items-center text-lg">
  @for (page of newPages; track page.name; let i = $index) {
    <div
      class="text-type_grey cursor-pointer uppercase flex items-center"
      [ngClass]="{
        'text-type_title font-semibold':
          (getLastFragment(page.route) ||
            page.name.toLowerCase() == 'account' ||
            page.name.toLowerCase() == 'product details') &&
          page.name.toLowerCase() !== 'home',
      }"
      [routerLink]="[page.route]"
    >
      <span>{{ page.name }}</span>
      @if (i != newPages.length - 1) {
        <span class="mx-3">></span>
      }
    </div>
  }
</div>

<button
  class="mobile:hidden border-0 outline-0 flex items-center justify-center h-6 w-6 rounded-[3px] border-[1px] border-border_subtle"
  (click)="onNavigateBack()"
>
  <i class="fa fa-angle-left font-bold"></i>
</button>
