<div
  class="w-[90%] tablet:w-[85%] max-w-[1200px] mx-auto mt-9 mobile:mt-[80px]"
>
  @if (!isShowingFullReview()) {
    <app-breadcrumb
      [pages]="[{ name: 'product details', route: '/product' }]"
    />
    <h3 class="block mobile:hidden font-medium text-lg text-type_title mt-4">
      Product Details
    </h3>
  }

  @if (!isLoading() && !isError()) {
    @if (!isShowingFullReview()) {
      <div class="flex items-start flex-col min-[700px]:flex-row gap-10 mt-8">
        <div
          class="min-[850px]:w-[500px] min-[450px]:w-[400px] w-full max-[450px]:h-[300px] max-[700px]:self-center"
        >
          <app-product-details-images
            [images]="productDetailsData().imageUrls"
          />
        </div>

        <div class="w-full">
          <div class="space-y-2 min-[700px]:space-y-4">
            <h1
              class="text-2xl mobile:text-[40px] text-type_caption leading-10 break-all"
            >
              {{ productDetailsData().name || activeProduct()?.name }}
            </h1>

            <div class="flex items-center gap-x-2 flex-wrap">
              <p
                class="text-[20px] mobile:text-3xl text-type_title font-semibold"
              >
                {{
                  productDetailsData().price
                    | currency: '₦' : 'symbol' : '1.0-0'
                }}
              </p>

              @if (productDetailsData().previousPrice) {
                <div class="flex items-center space-x-1">
                  <p
                    class="text-type_grey mobile:text-lg text-sm font-medium line-through"
                  >
                    {{
                      productDetailsData().previousPrice
                        | currency: '₦' : 'symbol' : '1.0-0'
                    }}
                  </p>

                  <div
                    class="p-[2px] rounded-sm bg-primary text-white text-xs mobile:text-sm bg-opacity-70"
                  >
                    -{{
                      productDetailsData().price
                        | pricePercentageDecrease
                          : productDetailsData().previousPrice
                    }}%
                  </div>
                </div>
              }
            </div>

            @if (!productDetailsData().isSoldOut) {
              <div
                class="text-xs mobile:text-sm font-semibold"
                [ngClass]="
                  productDetailsData().unit < 5
                    ? 'text-red-600'
                    : 'text-type_title_gray'
                "
              >
                <span>{{ productDetailsData().unit }}</span> <span> item</span>
                @if (productDetailsData().unit > 1) {
                  <span>s</span>
                }
                left
              </div>
            } @else {
              <p class="text-red-600 text-sm mobile:text-base font-semibold">
                Sold out
              </p>
            }

            <div
              [innerHTML]="
                sanitizedDescription(productDetailsData().description)
              "
              [ngClass]="{ 'line-clamp-[8]': isCollapsed() }"
              class="prose desc text-sm mobile:text-base text-type_grey leading-tight"
            ></div>
            @if (
              stripedDescription(productDetailsData().description).length >
              limit
            ) {
              <a
                href="javascript:void(0)"
                (click)="toggleCollapse()"
                class="text-sm font-medium text-primary"
              >
                {{ isCollapsed() ? 'Read More' : 'Show Less' }}
              </a>
            }
          </div>

          <div class="w-full h-[1px] my-6 bg-border_subtle"></div>

          <div class="flex items-center">
            <div class="flex items-center space-x-1">
              @for (item of stars(); track item.star; let i = $index) {
                <div class="relative w-[20px] h-[20px]">
                  <!-- Gray Star Icon -->
                  <i
                    class="fa fa-star w-full h-full text-gray-300 text-[20px]"
                  ></i>

                  <!-- Yellow Overlay for Star Fill -->
                  <i
                    class="fa fa-star h-full text-[20px] text-yellow-400 absolute top-0 left-0 overflow-hidden"
                    [ngStyle]="{ width: getStarWidth(i) }"
                  ></i>
                </div>
              }
              @if (productDetailsData().ratings.length) {
                <p class="text-sm text-type_caption">
                  ({{ productDetailsData().ratings.length }} verified ratings)
                </p>
              }
            </div>

            @if (!productDetailsData().ratings.length) {
              <p class="text-sm text-type_caption ml-2">
                (No ratings available)
              </p>
            }
          </div>

          <div class="mt-5">
            <h3 class="text-xs text-type_title font-semibold">CATEGORY</h3>
            <p class="text-type_caption">
              {{ productDetailsData().category.name }}
            </p>
          </div>
          @if (!productDetailsData().isSoldOut) {
            <div class="space-y-2 mt-5">
              <h3 class="text-xs text-type_title font-semibold">QUANTITY</h3>
              <div>
                <app-product-quantity
                  [quantity]="productInCart()?.unit || 1"
                  [isLoading]="isUpdatingCart()"
                  [productUnitsLeft]="productDetailsData().unit"
                  (quantityChanged)="
                    onAdjustQuantity($event, productDetailsData())
                  "
                />
              </div>
            </div>
          }

          <div
            class="flex items-center justify-between mt-8 flex-wrap gap-x-3 gap-y-3 text-sm mobile:text-base"
          >
            <button
              class="min-w-[190px] rounded-full text-white font-medium bg-primary py-2 flex-1 h-12 hidden mobile:block hover:text-type_title_gray hover:border-primary hover:border-[2px] hover:bg-transparent"
              routerLink="/checkout"
            >
              Proceed to Checkout
            </button>
            @if (!productDetailsData().isSoldOut) {
              <button
                class="min-w-[120px] rounded-full text-white font-medium bg-primary py-2 flex-1 h-12 block mobile:hidden"
                routerLink="/checkout"
              >
                Buy Now
              </button>
              @if (!productInCart()) {
                <button
                  class="min-w-[120px] flex items-center justify-center space-x-3 mobile:min-w-[190px] rounded-full font-medium border-primary border-[2px] text-type_title_gray py-2 flex-1 h-12 hover:bg-primary hover:text-white"
                  [disabled]="isAddingToCart()"
                  (click)="onAddToCart(productDetailsData())"
                >
                  @if (isAddingToCart()) {
                    <app-loader
                      [customStyle]="{
                        width: '24px',
                        border: '3px solid #000',
                      }"
                    />
                  }
                  <span> Add to Cart </span>
                </button>
              }
            }
          </div>
        </div>
      </div>

      <div class="mt-[50px]">
        <app-product-reviews [reviews]="productDetailsData().ratings" />
      </div>

      <div class="mt-[80px]">
        <app-recommended-products
          [query]="{
            productId: productDetailsData().id,
            categoryId: productDetailsData().categoryId,
          }"
          (loadProductDetails)="onViewDetails()"
        />
      </div>
    } @else {
      <app-large-reviews [reviews]="productDetailsData().ratings" />
    }
  } @else if (isError()) {
    <div class="flex flex-col items-center justify-center">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="200"
        height="200"
        viewBox="-9.34232 211.563 640 448"
      >
        <path
          d="M 416.4 435.6 c -16.9 0 -32.8 -9 -41.4 -23.4 l -64.3 -106.6 l -64.2 106.6 c -8.7 14.5 -24.6 23.5 -41.5 23.5 c -4.5 0 -9 -0.6 -13.3 -1.9 l -137 -39.2 v 178 c 0 14.7 10 27.5 24.2 31 l 216.2 54.1 c 10.2 2.5 20.9 2.5 31 0 l 216.4 -54.1 c 14.2 -3.6 24.2 -16.4 24.2 -31 v -178 l -137 39.1 C 425.4 435 420.9 435.6 416.4 435.6 z M 629 323.4 l -51.5 -102.8 c -3.1 -6.2 -9.8 -9.8 -16.7 -8.9 l -250.1 31.9 l 91.7 152.1 c 3.8 6.3 11.4 9.3 18.5 7.3 l 197.9 -56.5 C 628.7 343.6 633.5 332.6 629 323.4 L 629 323.4 z M 43.9 220.6 l -51.5 102.8 c -4.6 9.2 0.3 20.2 10.1 23 l 197.9 56.5 c 7.1 2 14.7 -1 18.5 -7.3 l 91.8 -152 l -250.2 -31.9 C 53.6 210.9 47 214.4 43.9 220.6 z"
          fill="#555555"
        />
      </svg>
      <p class="text-type_caption text-center">{{ errorMessage() }}</p>
    </div>
  } @else {
    <div class="flex items-start flex-col min-[700px]:flex-row gap-10 mt-8">
      <div
        class="min-[850px]:w-[500px] min-[450px]:w-[400px] w-full max-[450px]:h-[300px] max-[700px]:self-center"
      >
        <div class="mb-6">
          <p-skeleton width="100%" height="400px" />
        </div>

        <div class="hidden mobile:block">
          <p-skeleton width="100%" height="50px" />
        </div>
      </div>

      <div class="w-full">
        <div class="space-y-2 min-[700px]:space-y-4">
          <div>
            <p-skeleton width="100%" height="2rem" />
          </div>
          <div>
            <p-skeleton width="10rem" height="2rem" />
          </div>
          <div>
            <p-skeleton width="100%" height="150px" />
          </div>
        </div>

        <div class="w-full h-[1px] my-6 bg-border_subtle"></div>

        <div class="space-y-1">
          <div>
            <p-skeleton width="10rem" height="2rem" />
          </div>
          <div>
            <p-skeleton width="20rem" height="2rem" />
          </div>
        </div>

        <div class="mt-5">
          <p-skeleton width="20rem" height="4rem" />
        </div>

        <div
          class="flex items-center justify-between mt-8 flex-wrap gap-x-3 gap-y-2 text-sm mobile:text-base"
        >
          <div class="flex-1">
            <p-skeleton width="100%" height="3rem" borderRadius="50px" />
          </div>
          <div class="flex-1">
            <p-skeleton width="100%" height="3rem" borderRadius="50px" />
          </div>
        </div>
      </div>
    </div>
  }
</div>
