<div class="w-full rounded-md">
  <h3 class="mb-4 text-sm text-gray-700 font-medium">Product images</h3>

  <div>
    <h3 class="mb-2 text-xs text-gray-700">Cover image</h3>
    <div
      class="rounded-lg border-[2px] border-border_subtle border-dashed h-[190px] mobile:h-[300px] flex flex-col text-center items-center justify-center relative"
      appDragAndDrop
      (fileDropped)="onFileDropped($event, 'single')"
    >
      <input
        type="file"
        #fileDropRef
        (change)="fileBrowseHandler($event, 'single')"
        class="bg-transparent h-full w-full z-[10] absolute left-0 top-0 opacity-0"
      />
      @if (!coverImage().hasUploaded) {
        <div class="flex flex-col items-center justify-center">
          <svg
            width="25"
            height="24"
            viewBox="0 0 25 24"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M20.5 5H4.5V19L13.792 9.706C13.9795 9.51853 14.2338 9.41321 14.499 9.41321C14.7642 9.41321 15.0185 9.51853 15.206 9.706L20.5 15.01V5ZM2.5 3.993C2.50183 3.73038 2.6069 3.47902 2.79251 3.29322C2.97813 3.10742 3.22938 3.00209 3.492 3H21.508C22.056 3 22.5 3.445 22.5 3.993V20.007C22.4982 20.2696 22.3931 20.521 22.2075 20.7068C22.0219 20.8926 21.7706 20.9979 21.508 21H3.492C3.22881 20.9997 2.9765 20.895 2.79049 20.7088C2.60448 20.5226 2.5 20.2702 2.5 20.007V3.993ZM8.5 11C7.96957 11 7.46086 10.7893 7.08579 10.4142C6.71071 10.0391 6.5 9.53043 6.5 9C6.5 8.46957 6.71071 7.96086 7.08579 7.58579C7.46086 7.21071 7.96957 7 8.5 7C9.03043 7 9.53914 7.21071 9.91421 7.58579C10.2893 7.96086 10.5 8.46957 10.5 9C10.5 9.53043 10.2893 10.0391 9.91421 10.4142C9.53914 10.7893 9.03043 11 8.5 11Z"
              fill="#666666"
            />
          </svg>

          <p class="text-type_grey font-medium text-sm mt-1 mb-1">
            Upload Image
          </p>
          <p class="text-type_grey text-xs">(max file : 5mb)</p>
        </div>
      } @else if (!coverImageUploadError()) {
        <div class="h-full w-full relative">
          <img
            [src]="coverImage().imageUrl"
            class="h-full w-full object-cover z-[8] rounded-lg"
            alt="Uploaded image"
          />
          <button
            (click)="removeCoverImage()"
            class="absolute top-2 right-2 bg-red-500 text-white rounded-md h-6 w-6 pb-[1px] z-[12] flex items-center leading-0 justify-center hover:bg-red-700"
          >
            <i class="fa fa-times"></i>
          </button>
        </div>
        @if (coverImage().isUploading) {
          <div
            class="w-full h-full flex items-center justify-center absolute bg-opacity-80 bg-white z-[13]"
          ></div>
          <div
            class="w-full h-full flex items-center justify-center absolute z-[14]"
          >
            <app-loader
              [customStyle]="{ width: '40px', border: '4px solid #000' }"
            />
          </div>
        }
      }
      @if (coverImageUploadError()) {
        <div
          class="w-full h-full flex flex-col items-center justify-center absolute bg-opacity-80 bg-white"
        >
          <p class="text-sm">An error occurred while uploading!</p>
          <button class="p-1 mt-3 text-sm rounded-md border border-type_grey">
            Retry
          </button>
        </div>
      }
    </div>

    <div class="mt-6">
      <h3 class="mb-2 text-xs text-gray-700">Additional images</h3>
      <div
        class="grid grid-cols-[repeat(auto-fill,minmax(180px,1fr))] gap-4 w-full"
      >
        @for (box of uploadBoxes(); track box.imageUrl; let i = $index) {
          <div
            class="rounded-lg border-[2px] border-border_subtle border-dashed h-[190px] flex flex-col text-center items-center justify-center relative"
            appDragAndDrop
            (fileDropped)="onFileDropped($event, 'multiple', i)"
          >
            <input
              type="file"
              #fileDropRef
              id="fileDropRef"
              (change)="fileBrowseHandler($event, 'multiple', i)"
              class="bg-transparent h-full w-full z-[10] absolute left-0 top-0 opacity-0"
            />
            @if (!box.hasUploaded) {
              <div class="flex flex-col items-center justify-center">
                <svg
                  width="25"
                  height="24"
                  viewBox="0 0 25 24"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M20.5 5H4.5V19L13.792 9.706C13.9795 9.51853 14.2338 9.41321 14.499 9.41321C14.7642 9.41321 15.0185 9.51853 15.206 9.706L20.5 15.01V5ZM2.5 3.993C2.50183 3.73038 2.6069 3.47902 2.79251 3.29322C2.97813 3.10742 3.22938 3.00209 3.492 3H21.508C22.056 3 22.5 3.445 22.5 3.993V20.007C22.4982 20.2696 22.3931 20.521 22.2075 20.7068C22.0219 20.8926 21.7706 20.9979 21.508 21H3.492C3.22881 20.9997 2.9765 20.895 2.79049 20.7088C2.60448 20.5226 2.5 20.2702 2.5 20.007V3.993ZM8.5 11C7.96957 11 7.46086 10.7893 7.08579 10.4142C6.71071 10.0391 6.5 9.53043 6.5 9C6.5 8.46957 6.71071 7.96086 7.08579 7.58579C7.46086 7.21071 7.96957 7 8.5 7C9.03043 7 9.53914 7.21071 9.91421 7.58579C10.2893 7.96086 10.5 8.46957 10.5 9C10.5 9.53043 10.2893 10.0391 9.91421 10.4142C9.53914 10.7893 9.03043 11 8.5 11Z"
                    fill="#666666"
                  />
                </svg>

                <p class="text-type_grey font-medium text-sm mt-1 mb-1">
                  Upload Image
                </p>
                <p class="text-type_grey text-xs">(max file : 5mb)</p>
              </div>
            } @else if (!uploadError()[i]) {
              <div class="h-full w-full relative">
                <img
                  [src]="box.imageUrl"
                  class="h-full w-full object-cover z-[8] rounded-lg"
                  alt="Uploaded image"
                />

                <button
                  (click)="removeImage(i)"
                  class="absolute top-2 right-2 bg-red-500 text-white rounded-md h-6 w-6 pb-[1px] z-[12] flex items-center leading-0 justify-center hover:bg-red-700"
                >
                  <i class="fa fa-times"></i>
                </button>
              </div>
              @if (box.isUploading) {
                <div
                  class="w-full h-full flex items-center justify-center absolute bg-opacity-80 bg-white z-[13]"
                ></div>
                <div
                  class="w-full h-full flex items-center justify-center absolute z-[14]"
                >
                  <app-loader
                    [customStyle]="{
                      width: '40px',
                      border: '4px solid #666666',
                    }"
                  />
                </div>
              }
            }
            @if (uploadError()[i]) {
              <div
                class="w-full h-full flex flex-col items-center justify-center absolute bg-opacity-80 bg-white"
              >
                <p class="text-sm">An error occurred while uploading!</p>
                <button
                  class="p-1 text-sm mt-3 rounded-md border border-type_grey"
                >
                  Retry
                </button>
              </div>
            }
          </div>
        }

        <button
          class="rounded-lg border-[2px] border-border_subtle border-dashed h-[190px] flex text-center items-center justify-center relative hover:bg-white"
          (click)="onAddNewUploadBox()"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 448 512"
            class="fill-type_grey w-10 h-10"
          >
            <path
              d="M256 80c0-17.7-14.3-32-32-32s-32 14.3-32 32l0 144L48 224c-17.7 0-32 14.3-32 32s14.3 32 32 32l144 0 0 144c0 17.7 14.3 32 32 32s32-14.3 32-32l0-144 144 0c17.7 0 32-14.3 32-32s-14.3-32-32-32l-144 0 0-144z"
            />
          </svg>
        </button>
      </div>
    </div>
  </div>
</div>
