<div>
  @if (!isLoading()) {
    @if (orders.length) {
      <div class="border-[1px] border-border_subtle rounded-lg mt-5 py-5">
        <div class="flex items-center flex-wrap gap-x-6 gap-y-2 mb-5 px-4">
          <div class="max-w-[300px] min-w-[170px] grow h-8 relative">
            <img
              src="assets/images/icons/search.svg"
              alt=""
              class="absolute left-3 top-1/2 -translate-y-1/2 w-5"
            />
            <input
              class="w-full focus:outline-0 rounded-full bg-bg_subtle border border-border_subtle h-full pl-10 text-type_caption font-medium placeholder:text-type_caption"
              placeholder="Search"
              id="toTop"
            />
          </div>

          <select
            class="h-8 border-border_subtle border-[2px] px-2 bg-transparent rounded-full text-type_caption"
          >
            <option>All status</option>
          </select>
        </div>

        <div class="overflow-x-auto">
          <table class="min-w-full px-2">
            <thead class="bg-bg_subtle border border-border_subtle">
              <tr>
                <th
                  class="px-4 py-3 text-left text-xs text-type_gray font-medium"
                >
                  ORDER ID
                </th>
                <th
                  (click)="sortTable('user')"
                  class="px-4 py-3 text-xs text-type_gray font-medium text-left cursor-pointer"
                >
                  <div class="flex items-center space-x-1">
                    <span>CUSTOMER NAME</span>
                    <span class="flex flex-col">
                      <i
                        class="fa fa-caret-up text-xs"
                        [ngClass]="
                          sortDirection === 'asc' && sortUsed
                            ? 'opacity-100'
                            : 'opacity-30'
                        "
                      ></i>
                      <i
                        class="fa fa-caret-down text-xs -mt-[10px]"
                        [ngClass]="
                          sortDirection === 'desc'
                            ? 'opacity-100'
                            : 'opacity-30'
                        "
                      ></i>
                    </span>
                  </div>
                </th>
                <th
                  (click)="sortTable('totalAmount')"
                  class="px-4 py-3 text-left cursor-pointer text-xs text-type_gray font-medium"
                >
                  <div class="flex items-center space-x-1">
                    <span>TOTAL PRICE</span>
                    <span class="flex flex-col">
                      <i
                        class="fa fa-caret-up text-xs"
                        [ngClass]="
                          sortDirection === 'asc' && sortUsed
                            ? 'opacity-100'
                            : 'opacity-30'
                        "
                      ></i>
                      <i
                        class="fa fa-caret-down text-xs -mt-[10px]"
                        [ngClass]="
                          sortDirection === 'desc'
                            ? 'opacity-100'
                            : 'opacity-30'
                        "
                      ></i>
                    </span>
                  </div>
                </th>
                <th
                  (click)="sortTable('createdAt')"
                  class="px-4 py-3 text-left cursor-pointer text-xs text-type_gray font-medium"
                >
                  <div class="flex items-center space-x-1">
                    <span>ORDER DATE</span>

                    <span class="flex flex-col">
                      <i
                        class="fa fa-caret-up text-xs"
                        [ngClass]="
                          sortDirection === 'asc' && sortUsed
                            ? 'opacity-100'
                            : 'opacity-30'
                        "
                      ></i>
                      <i
                        class="fa fa-caret-down text-xs -mt-[10px]"
                        [ngClass]="
                          sortDirection === 'desc'
                            ? 'opacity-100'
                            : 'opacity-30'
                        "
                      ></i>
                    </span>
                  </div>
                </th>
                <th
                  class="px-4 py-3 text-left text-xs text-type_gray font-medium"
                >
                  STATUS
                </th>
                <th
                  class="px-4 py-3 text-left text-xs text-type_gray font-medium"
                >
                  ACTION
                </th>
              </tr>
            </thead>
            <tbody>
              @for (order of orders | paginate: config; track order.id) {
                <tr
                  class="border-b border-border_subtle text-type_title_gray text-sm font-medium"
                >
                  <td class="px-4 py-5 font-semibold">{{ order.id }}</td>
                  <td class="px-4 py-5">{{ order.user.name }}</td>
                  <td class="px-4 py-5">
                    {{ order.totalAmount | currency: '₦' : 'symbol' : '1.0-0' }}
                  </td>
                  <td class="px-4 py-5">{{ order.createdAt | date }}</td>
                  <td class="px-4 py-5">
                    <span
                      appOrderStatus
                      [orderStatus]="order.orderStatus"
                      class="px-2 py-1 rounded-full text-[10px] font-semibold whitespace-nowrap"
                    >
                      {{ order.orderStatus }}
                    </span>
                  </td>
                  <td class="px-4 py-2">
                    <button
                      class="border-[1px] border-type_caption rounded-full hover:bg-bg_subtle text-type_caption font-medium py-1 px-3 whitespace-nowrap"
                      (click)="onViewOrder(order)"
                    >
                      View Details
                    </button>
                  </td>
                </tr>
              }
            </tbody>
          </table>
        </div>

        <div
          class="flex flex-col min-[760px]:flex-row min-[760px]:items-center items-start justify-between gap-x-5 gap-y-4 mt-8 px-4"
        >
          <div class="flex items-center space-x-3 grow">
            <h4 class="font-medium text-sm text-[#808080] whitespace-nowrap">
              Result per page
            </h4>
            <select
              [ngModel]="totalItemsToShow"
              (ngModelChange)="onChangeItemsToShow($event)"
              class="text-type_title_gray bg-transparent h-[30px] px-1 pr-0 rounded-[4px] focus:outline-0 border border-border_subtle flex items-center justify-center"
            >
              @for (item of itemsToShow; track $index) {
                <option [value]="item" class="bg-background">
                  {{ item }}
                </option>
              }
            </select>
          </div>

          <div
            class="flex justify-center items-center w-full min-[760px]:justify-self-center min-[760px]:w-auto"
          >
            <pagination-template
              #p="paginationApi"
              [id]="config.id!"
              (pageChange)="pageChange($event)"
              class="h-fit min-h-auto"
            >
              <div class="flex items-center text-sm">
                <button
                  class="h-8 w-8 flex items-center border-0 outline-0 justify-center cursor-pointer disabled:opacity-30"
                  [disabled]="p.isFirstPage()"
                  (click)="p.previous()"
                  [attr.aria-label]="'Previous page'"
                >
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 448 512"
                    class="w-6"
                  >
                    <path
                      d="M7.4 273.4C2.7 268.8 0 262.6 0 256s2.7-12.8 7.4-17.4l176-168c9.6-9.2 24.8-8.8 33.9 .8s8.8 24.8-.8 33.9L83.9 232 424 232c13.3 0 24 10.7 24 24s-10.7 24-24 24L83.9 280 216.6 406.6c9.6 9.2 9.9 24.3 .8 33.9s-24.3 9.9-33.9 .8l-176-168z"
                    />
                  </svg>
                </button>

                @for (page of p.pages; track $index) {
                  <button
                    class="flex items-center justify-center mx-2 w-9 h-9 rounded-full text-type_title_gray cursor-pointer font-bold bg-transparent"
                    [ngClass]="{
                      'text-white !bg-primary': p.getCurrent() === page.value,
                    }"
                    (click)="p.setCurrent(page.value)"
                    [attr.aria-label]="'Page {{ page.label }}'"
                  >
                    <span>{{ page.label }}</span>
                  </button>
                }

                <button
                  class="h-8 w-8 flex items-center border-0 outline-0 justify-center cursor-pointer disabled:opacity-30"
                  [disabled]="p.isLastPage()"
                  (click)="p.next()"
                  [attr.aria-label]="'Next page'"
                >
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 448 512"
                    class="w-6 rotate-180"
                  >
                    <path
                      d="M7.4 273.4C2.7 268.8 0 262.6 0 256s2.7-12.8 7.4-17.4l176-168c9.6-9.2 24.8-8.8 33.9 .8s8.8 24.8-.8 33.9L83.9 232 424 232c13.3 0 24 10.7 24 24s-10.7 24-24 24L83.9 280 216.6 406.6c9.6 9.2 9.9 24.3 .8 33.9s-24.3 9.9-33.9 .8l-176-168z"
                    />
                  </svg>
                </button>
              </div>
            </pagination-template>
          </div>
        </div>
      </div>
    } @else {
      <div
        class="flex flex-col items-center text-center w-full mobile:w-1/2 mx-auto space-y-1 mt-8 pb-[200px]"
      >
        <div>
          <h2 class="text-type_title text-2xl mobile:text-3xl font-semibold">
            Your order list empty!
          </h2>

          <p class="text-sm mobile:text-lg text-type_caption mt-1 mb-10">
            Looks like you haven’t paced any orders yet.
          </p>

          <button
            class="w-full rounded-full text-white font-medium bg-primary py-2 h-12 block"
            routerLink="/"
          >
            Continue Shopping
          </button>
        </div>
      </div>
    }
  } @else {
    <div class="w-full space-y-2 mt-5">
      @for (item of [1, 2, 3, 4, 5]; track item) {
        <div>
          <p-skeleton width="100%" height="4rem" />
        </div>
      }
    </div>
  }
</div>
