<div class="flex justify-between items-start space-x-3">
  <div class="grow">
    <div class="flex items-center space-x-3">
      <img
        src="assets/images/icons/green-tick.svg"
        alt=""
        class="w-6 tablet:w-8"
      />
      <div
        class="bg-border_subtle h-[2px] min-w-[40px] w-[40px] min-[700px]:w-[120px] grow shrink"
      ></div>
    </div>
    <p class="text-type_title_gray font-medium my-2 text-sm">Verified</p>
    <p class="text-type_caption font-semibold text-xs tablet:text-base">
      July 23, 2024
    </p>
  </div>

  <div class="grow">
    <div class="flex items-center space-x-3">
      <img
        src="assets/images/icons/order-loading.svg"
        alt=""
        class="w-6 tablet:w-8"
      />

      <div
        class="bg-border_subtle h-[2px] min-w-[40px] w-[40px] min-[700px]:w-[120px] grow shrink"
      ></div>
    </div>
    <p class="text-type_title_gray font-medium my-2 text-sm">Confirmed</p>
    <p class="text-type_caption font-semibold text-xs tablet:text-base">
      Waiting...
    </p>
  </div>

  <div class="grow">
    <div class="flex items-center space-x-3">
      <img
        src="assets/images/icons/order-blank.svg"
        alt=""
        class="w-6 tablet:w-8"
      />

      <div
        class="bg-border_subtle h-[2px] min-w-[40px] w-[40px] min-[700px]:w-[120px] grow shrink"
      ></div>
    </div>
    <p class="text-type_title_gray font-medium my-2 text-sm">Packed</p>
    <p class="text-type_caption font-semibold text-xs tablet:text-base">
      Waiting...
    </p>
  </div>

  <div class="">
    <img
      src="assets/images/icons/order-blank.svg"
      alt=""
      class="w-6 tablet:w-8"
    />
    <p class="text-type_title_gray font-medium my-2 text-sm">Delivered</p>
    <p class="text-type_caption font-semibold text-xs tablet:text-base">
      Waiting...
    </p>
  </div>
</div>
