<div>
  <div class="flex items-center space-x-3">
    <div
      class="h-8 w-8 flex items-center justify-center cursor-pointer"
      (click)="closeForm.emit()"
    >
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" class="w-6">
        <path
          d="M7.4 273.4C2.7 268.8 0 262.6 0 256s2.7-12.8 7.4-17.4l176-168c9.6-9.2 24.8-8.8 33.9 .8s8.8 24.8-.8 33.9L83.9 232 424 232c13.3 0 24 10.7 24 24s-10.7 24-24 24L83.9 280 216.6 406.6c9.6 9.2 9.9 24.3 .8 33.9s-24.3 9.9-33.9 .8l-176-168z"
        />
      </svg>
    </div>
    <h3>Add New Address</h3>
  </div>

  <div class="mt-6">
    <form
      [formGroup]="addressForm"
      (ngSubmit)="onSubmit()"
      class="max-w-4xl mx-auto space-y-4"
    >
      <div class="flex items-start flex-wrap gap-4">
        <div class="flex-1 min-w-[145px] flex flex-col">
          <label
            for="firstName"
            class="block text-sm font-medium text-gray-700 mb-1"
            >First Name</label
          >
          <div class="flex-grow">
            <input
              type="text"
              id="firstName"
              formControlName="firstName"
              class="w-full px-3 py-2 border-[2px] border-gray-300 rounded-md focus:outline-none bg-transparent"
              [ngClass]="{ 'border-red-500': isInvalidAndTouched('firstName') }"
            />

            @if (isInvalidAndTouched("firstName")) {
              <p
                class="mt-1 text-sm text-red-500 h-5"
                appErrorMessage
                [controlName]="'firstName'"
              ></p>
            }
          </div>
        </div>
        <div class="flex-1 min-w-[145px] flex flex-col">
          <label
            for="lastName"
            class="block text-sm font-medium text-gray-700 mb-1"
            >Last Name</label
          >
          <div class="flex-grow">
            <input
              type="text"
              id="lastName"
              formControlName="lastName"
              class="w-full px-3 py-2 border-[2px] border-gray-300 rounded-md focus:outline-none bg-transparent"
              [ngClass]="{ 'border-red-500': isInvalidAndTouched('lastName') }"
            />
            @if (isInvalidAndTouched("lastName")) {
              <p
                class="mt-1 text-sm text-red-500 h-5"
                appErrorMessage
                [controlName]="'lastName'"
              ></p>
            }
          </div>
        </div>
      </div>

      <div class="flex items-start flex-wrap gap-4">
        <div class="flex-1 min-w-[145px] flex flex-col">
          <label
            for="phoneNumber"
            class="block text-sm font-medium text-gray-700 mb-1"
            >Phone Number</label
          >
          <div class="flex-grow">
            <input
              type="tel"
              id="phoneNumber"
              formControlName="phoneNumber"
              class="w-full px-3 py-2 border border-gray-300 rounded-md focus:outline-none bg-transparent"
              [ngClass]="{
                'border-red-500': isInvalidAndTouched('phoneNumber'),
              }"
              appPhoneNumber
            />
            @if (isInvalidAndTouched("phoneNumber")) {
              <p
                class="mt-1 text-sm text-red-500 h-5"
                appErrorMessage
                [controlName]="'phoneNumber'"
              ></p>
            }
          </div>
        </div>
        <div class="flex-1 min-w-[145px] flex flex-col">
          <label
            for="additionalPhoneNumber"
            class="block text-sm font-medium text-gray-700 mb-1"
            >Additional Phone Number</label
          >
          <div class="flex-grow">
            <input
              type="tel"
              id="additionalPhoneNumber"
              formControlName="additionalPhoneNumber"
              class="w-full px-3 py-2 border border-gray-300 rounded-md focus:outline-none bg-transparent"
              [ngClass]="{
                'border-red-500': isInvalidAndTouched('additionalPhoneNumber'),
              }"
            />
            @if (isInvalidAndTouched("additionalPhoneNumber")) {
              <p
                class="mt-1 text-sm text-red-500 h-5"
                appErrorMessage
                [controlName]="'additionalPhoneNumber'"
              ></p>
            }
          </div>
        </div>
      </div>

      <div class="mb-6 flex flex-col">
        <label
          for="deliveryAddress"
          class="block text-sm font-medium text-gray-700 mb-1"
          >Delivery Address</label
        >
        <div class="flex-grow">
          <input
            id="deliveryAddress"
            formControlName="deliveryAddress"
            class="w-full px-3 py-2 border-[2px] border-gray-300 rounded-md focus:outline-none bg-transparent"
            [ngClass]="{
              'border-red-500': isInvalidAndTouched('deliveryAddress'),
            }"
            #addressInput
          />
          @if (isInvalidAndTouched("deliveryAddress")) {
            <p
              class="mt-1 text-sm text-red-500 h-5"
              appErrorMessage
              [controlName]="'deliveryAddress'"
            ></p>
          }
        </div>
      </div>

      <div class="mb-6 flex flex-col">
        <label
          for="additionalInformation"
          class="block text-sm font-medium text-gray-700 mb-1"
          >Additional Information</label
        >
        <div class="flex-grow">
          <input
            id="additionalInformation"
            formControlName="additionalInformation"
            class="w-full px-3 py-2 border-[2px] border-gray-300 rounded-md focus:outline-none bg-transparent"
          />
        </div>
      </div>

      <div class="mb-6 flex flex-col md:flex-row md:space-x-4">
        <div class="flex-1 mb-4 md:mb-0 flex flex-col">
          <label
            for="region"
            class="block text-sm font-medium text-gray-700 mb-1"
            >Region</label
          >
          <div class="flex-grow">
            <input
              type="text"
              id="region"
              formControlName="region"
              class="w-full px-3 py-2 border-[2px] border-gray-300 rounded-md focus:outline-none bg-transparent"
              [ngClass]="{ 'border-red-500': isInvalidAndTouched('region') }"
            />
            @if (isInvalidAndTouched("region")) {
              <p
                class="mt-1 text-sm text-red-500 h-5"
                appErrorMessage
                [controlName]="'region'"
              ></p>
            }
          </div>
        </div>
        <div class="flex-1 flex flex-col">
          <label for="city" class="block text-sm font-medium text-gray-700 mb-1"
            >City</label
          >
          <div class="flex-grow">
            <input
              type="text"
              id="city"
              formControlName="city"
              class="w-full px-3 py-2 border-[2px] border-gray-300 rounded-md focus:outline-none bg-transparent"
              [ngClass]="{ 'border-red-500': isInvalidAndTouched('city') }"
            />
            @if (isInvalidAndTouched("city")) {
              <p
                class="mt-1 text-sm text-red-500 h-5"
                appErrorMessage
                [controlName]="'city'"
              ></p>
            }
          </div>
        </div>
      </div>

      <div class="mb-6">
        <label class="inline-flex items-center">
          <p-checkbox [binary]="true" formControlName="isDefaultAddress" />
          <span class="ml-2 text-sm text-gray-700">Set as Default Address</span>
        </label>
      </div>

      <div class="flex justify-end">
        <button
          type="submit"
          class="px-4 py-2 bg-primary text-white rounded-md hover:bg-opacity-80 focus:outline-none"
        >
          Save Address
        </button>
      </div>
    </form>
  </div>
</div>
