<div class="p-4 rounded border-[2px] border-border_subtle">
  <div
    class="w-full min-[730px]:space-y-2 max-[730px]:space-x-2 max-[730px]:flex items-center max-[730px]:overflow-x-auto"
  >
    <div
      class="flex items-center min-[730px]:space-x-4 px-3 py-2 hover:bg-border_subtle cursor-pointer"
      routerLink="/user/account-overview"
      routerLinkActive="bg-border_subtle"
      [routerLinkActiveOptions]="{ exact: true }"
      (click)="setActiveTab('/address-management', $event)"
      #tabLink
    >
      <img
        src="assets/images/icons/user.svg"
        alt=""
        class="min-w-5 w-5 max-[730px]:hidden"
      />
      <p class="text-type_caption max-[730px]:whitespace-nowrap">My Account</p>
    </div>

    <div
      class="flex items-center min-[730px]:space-x-4 px-3 py-2 hover:bg-border_subtle cursor-pointer"
      routerLink="/orders"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 448 512"
        class="min-w-5 w-5 max-[730px]:hidden"
      >
        <path
          d="M50.7 58.5L0 160l208 0 0-128L93.7 32C75.5 32 58.9 42.3 50.7 58.5zM240 160l208 0L397.3 58.5C389.1 42.3 372.5 32 354.3 32L240 32l0 128zm208 32L0 192 0 416c0 35.3 28.7 64 64 64l320 0c35.3 0 64-28.7 64-64l0-224z"
          fill="none"
          stroke="currentColor"
          stroke-width="50"
        />
      </svg>

      <p class="text-type_caption">Orders</p>
    </div>

    <div
      class="flex items-center min-[730px]:space-x-4 px-3 py-2 hover:bg-border_subtle cursor-pointer"
      routerLink="/user/address-management"
      routerLinkActive="bg-border_subtle"
      [routerLinkActiveOptions]="{ exact: false }"
      (click)="setActiveTab('/address-management', $event)"
      #tabLink
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 512 512"
        class="min-w-5 w-5 max-[730px]:hidden"
      >
        <path
          d="M384 48c8.8 0 16 7.2 16 16l0 384c0 8.8-7.2 16-16 16L96 464c-8.8 0-16-7.2-16-16L80 64c0-8.8 7.2-16 16-16l288 0zM96 0C60.7 0 32 28.7 32 64l0 384c0 35.3 28.7 64 64 64l288 0c35.3 0 64-28.7 64-64l0-384c0-35.3-28.7-64-64-64L96 0zM240 256a64 64 0 1 0 0-128 64 64 0 1 0 0 128zm-32 32c-44.2 0-80 35.8-80 80c0 8.8 7.2 16 16 16l192 0c8.8 0 16-7.2 16-16c0-44.2-35.8-80-80-80l-64 0zM512 80c0-8.8-7.2-16-16-16s-16 7.2-16 16l0 64c0 8.8 7.2 16 16 16s16-7.2 16-16l0-64zM496 192c-8.8 0-16 7.2-16 16l0 64c0 8.8 7.2 16 16 16s16-7.2 16-16l0-64c0-8.8-7.2-16-16-16zm16 144c0-8.8-7.2-16-16-16s-16 7.2-16 16l0 64c0 8.8 7.2 16 16 16s16-7.2 16-16l0-64z"
        />
      </svg>

      <p class="text-type_caption max-[730px]:whitespace-nowrap">
        Address Management
      </p>
    </div>

    <div
      class="flex items-center min-[730px]:space-x-4 px-3 py-2 hover:bg-border_subtle cursor-pointer"
      routerLink="/user/account-settings"
      routerLinkActive="bg-border_subtle"
      [routerLinkActiveOptions]="{ exact: true }"
      (click)="setActiveTab('/address-management', $event)"
      #tabLink
    >
      <img
        src="assets/images/icons/account-settings.png"
        alt=""
        class="min-w-6 w-6 max-[730px]:hidden"
      />

      <p class="text-type_caption max-[730px]:whitespace-nowrap">
        Account Settings
      </p>
    </div>

    <div
      class="flex items-center space-x-4 px-3 py-5 hover:bg-border_subtle cursor-pointer mt-5 border-t-[1px] border-border_subtle max-[730px]:hidden"
    >
      <i class="fa fa-sign-out text-2xl"></i>

      <button class="bg-transparent border-0 text-primary font-semibold">
        LOGOUT
      </button>
    </div>
  </div>
</div>
