.activeRoute {
  background-color: rgba(128, 0, 32, 0.13);
  color: #1c1c1c !important;

  & p {
    color: #1c1c1c !important;
    font-weight: 500;
  }

  & svg {
    fill: #1c1c1c !important;
    & path {
      fill: #1c1c1c !important;
    }
  }
}
