@if (order()) {
  <div class="">
    <div class="pb-3 border-b-[2px] border-border_subtle">
      <div
        class="flex items-center justify-between space-x-3 text-sm mobile:text-base text-type_title_gray mb-3"
      >
        <p>Product</p>
        <p>Total</p>
      </div>

      <div class="space-y-3">
        @for (
          item of order()?.cartOrder?.cartItems;
          track item.id;
          let i = $index
        ) {
          <div>
            <div
              class="flex items-center justify-between space-x-3 text-sm mobile:text-[20px] text-type_title_gray"
            >
              <div class="flex items-center space-x-2 w-[70%]">
                <img
                  [src]="item?.product?.image"
                  [alt]="item?.product?.name"
                  class="w-12 h-12 min-w-12 min-h-12 object-cover"
                  (click)="onViewDetails(item.product)"
                />
                <div class="text-sm text-type_grey break-words">
                  <p>{{ item?.product?.name }}</p>
                  <p class="text-type_title font-semibold">x{{ item.unit }}</p>
                </div>
              </div>
              <p
                class="text-sm mobile:text-base text-type_grey w-[30%] text-right whitespace-nowrap"
              >
                {{ item.total | currency: '₦' : 'symbol' : '1.0-0' }}
              </p>
            </div>
            @if (
              deliveryStatus()?.toLowerCase() === 'delivered' &&
              !order()?.orderItems?.[i]?.rating
            ) {
              <button
                class="py-2 text-primary italic underline text-sm"
                (click)="onReviewProduct(item, order()?.orderItems?.[i]!)"
              >
                Review product
              </button>
            } @else if (
              deliveryStatus()?.toLowerCase() === 'delivered' &&
              order()?.orderItems?.[i]?.rating
            ) {
              <button
                class="py-2 text-green-600 italic underline text-sm"
                (click)="onSeeReview(item, order()?.orderItems?.[i]!)"
              >
                Product reviewed
              </button>
            }
          </div>
        }
      </div>
    </div>

    <div
      class="flex items-center justify-between space-x-4 text-sm mobile:text-base text-type_title_gray py-3 border-b-[2px] border-border_subtle"
    >
      <p>Subtotal</p>
      <p class="text-type_title_gray font-semibold">
        {{
          order()?.cartOrder?.cartItems!
            | subtotal
            | currency: '₦' : 'symbol' : '1.0-0'
        }}
      </p>
    </div>

    <div
      class="flex items-center justify-between space-x-4 text-sm mobile:text-base text-type_title_gray py-3 border-b-[2px] border-border_subtle"
    >
      <p>Delivery Fee</p>
      <p class="text-type_title_gray font-semibold">
        {{
          order()?.cartOrder?.cartItems!
            | totalDelivery
            | currency: '₦' : 'symbol' : '1.0-0'
        }}
      </p>
    </div>

    @if (paymentMethod()) {
      <div
        class="flex items-center justify-between space-x-4 text-sm mobile:text-base text-type_title_gray py-3 border-b-[2px] border-border_subtle"
      >
        <p>Payment method</p>
        <p class="text-type_title_gray font-semibold capitalize">
          {{ paymentMethod() }}
        </p>
      </div>
    }

    <div
      class="flex items-center justify-between space-x-4 text-sm mobile:text-base text-type_title_gray py-3 border-b-[2px] border-border_subtle"
    >
      <p>Total</p>
      <p class="text-type_title_gray font-semibold text-lg mobile:text-2xl">
        {{
          order()?.cartOrder?.cartItems!
            | grandTotal
            | currency: '₦' : 'symbol' : '1.0-0'
        }}
      </p>
    </div>
  </div>
}
