<div class="w-full px-6 py-4 flex shadow-sm shadow-grey-300">
  <button class="ml-auto flex flex-col" (click)="menu.toggle($event)">
    <h3 class="text-lg text-type_title_gray font-medium">John Payne</h3>
    <p class="text-xs text-type_caption">Admin</p>
  </button>
</div>

<p-menu #menu [popup]="true" styleClass="header-menu">
  <ng-template pTemplate="start">
    <div class="w-full py-3 text-center">
      <button
        class="bg-transparent border-0 text-primary font-semibold"
        (click)="onSignOut()"
      >
        LOGOUT
      </button>
    </div>
  </ng-template>
</p-menu>
