<div
  class="shadow-stone-500 shadow-sm flex bg-white mobile:max-w-[350px] mobile:min-w-[350px] w-[90%] mobile:w-auto fixed top-4 right-1/2 mobile:translate-x-0 mobile:right-7 z-[1010101010101] toast-container"
>
  <div
    class="min-h-full flex items-center justify-center w-12 min-w-12"
    [ngClass]="toastInfo().type == 'error' ? 'bg-red-100' : 'bg-green-100'"
  >
    @switch (toastInfo().type) { @case ("success") {
    <div
      class="w-6 min-w-6 h-6 min-h-6 bg-[#2E7D32] flex items-center justify-center rounded-full"
    >
      <svg
        width="16"
        height="16"
        viewBox="0 0 16 16"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M6.66649 10.1148L12.7945 3.98608L13.7378 4.92875L6.66649 12.0001L2.42383 7.75742L3.36649 6.81475L6.66649 10.1148Z"
          fill="#fff"
        />
      </svg>
    </div>
    } @case ("error") {
    <div
      class="w-6 min-w-6 h-6 min-h-6 bg-red-600 flex items-center justify-center rounded-full"
    >
      <svg
        width="12"
        height="12"
        viewBox="0 0 12 12"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M6.00011 4.82166L10.1251 0.696655L11.3034 1.87499L7.17844 5.99999L11.3034 10.125L10.1251 11.3033L6.00011 7.17832L1.87511 11.3033L0.696777 10.125L4.82178 5.99999L0.696777 1.87499L1.87511 0.696655L6.00011 4.82166Z"
          fill="#fff"
        />
      </svg>
    </div>
    } }
  </div>

  <div class="space-y-2 py-4 px-4 relative overflow-hidden grow">
    <div class="flex items-center justify-between spacex-2">
      <h3
        class="text-sm font-medium capitalize"
        [ngClass]="
          toastInfo().type == 'error' ? 'text-red-600' : 'text-[#2E7D32]'
        "
      >
        {{ toastInfo().type }}
      </h3>

      <button
        (click)="onCloseToast()"
        class="w-6 h-6 flex items-center justify-center"
      >
        <img src="assets/images/icons/close.svg" alt="" />
      </button>
    </div>

    <p class="text-sm text-type_title w-full">{{ toastInfo().message }}</p>

    <div
      class="absolute left-0 bottom-0 w-full h-2 loader"
      [ngClass]="toastInfo().type == 'error' ? 'bg-red-600' : 'bg-[#2E7D32]'"
    ></div>
  </div>
</div>
