<div
  class="w-[90%] tablet:w-[85%] max-w-[1200px] mx-auto mt-9 mobile:mt-[80px]"
>
  <app-breadcrumb [newRoute]="'product details'" />

  <div class="flex items-start space-x-10 mt-8">
    <div class="w-[500px] min-w-[400px] min-h-[400px]">
      <app-product-details-images />
    </div>

    <div class="w-1/2">
      <div class="space-y-4">
        <h1 class="text-2xl mobile:text-[40px] text-type_caption">
          Palm Slippers
        </h1>

        <p class="text-[20px] mobile:text-3xl text-type_title font-semibold">
          #4,000
        </p>

        <p class="text-sm mobile:text-lg text-type_grey">
          Experience ultimate comfort and style with our eco-friendly palm
          slippers, featuring a tropical leaf design, cushioned footbed, and
          non-slip sole, perfect for both indoor and outdoor use.
        </p>
      </div>
    </div>
  </div>
</div>
