<div
  class="w-[90%] tablet:w-[85%] max-w-[1200px] mx-auto mt-9 mobile:mt-[80px]"
>
  <app-breadcrumb [pages]="[{ name: 'product details', route: '/product' }]" />
  <h3 class="block mobile:hidden font-medium text-lg text-type_title mt-4">
    Product Details
  </h3>
  <div class="flex items-start flex-col min-[700px]:flex-row gap-10 mt-8">
    <div
      class="min-[850px]:w-[500px] min-[450px]:w-[400px] w-full max-[450px]:h-[300px] self-center"
    >
      <app-product-details-images />
    </div>

    <div class="w-full">
      <div class="space-y-2 min-[700px]:space-y-4">
        <h1 class="text-2xl mobile:text-[40px] text-type_caption">
          Palm Slippers
        </h1>

        <p class="text-[20px] mobile:text-3xl text-type_title font-semibold">
          #4,000
        </p>

        <p class="text-sm mobile:text-lg text-type_grey">
          Experience ultimate comfort and style with our eco-friendly palm
          slippers, featuring a tropical leaf design, cushioned footbed, and
          non-slip sole, perfect for both indoor and outdoor use.
        </p>
      </div>

      <div class="w-full h-[1px] my-6 bg-border_subtle"></div>

      <div class="space-y-1">
        <h3 class="text-xs text-type_title font-semibold">CATEGORY</h3>
        <p class="text-type_caption">Toy Builders</p>
      </div>

      <div class="space-y-2 mt-5">
        <h3 class="text-xs text-type_title font-semibold">QUANTITY</h3>
        <div>
          <app-product-quantity
            [quantity]="quantity"
            (quantityChanged)="onAdjustQuantity($event)"
          />
        </div>
      </div>

      <div
        class="flex items-center justify-between mt-8 flex-wrap gap-x-3 gap-y-2 text-sm mobile:text-base"
      >
        <button
          class="min-w-[190px] rounded-full text-white font-medium bg-primary py-2 flex-1 h-12 hidden mobile:block"
          routerLink="/checkout"
        >
          Proceed to Checkout
        </button>
        <button
          class="min-w-[120px] rounded-full text-white font-medium bg-primary py-2 flex-1 h-12 block mobile:hidden"
          routerLink="/checkout"
        >
          Buy Now
        </button>
        <button
          class="min-w-[120px] mobile:min-w-[190px] rounded-full font-medium border-primary border-[2px] text-type_title_gray py-2 flex-1 h-12"
          routerLink="/cart"
        >
          Add to Cart
        </button>
      </div>
    </div>
  </div>

  <div class="mt-[80px]">
    <app-recommended-products />
  </div>
</div>
