<div
  class="w-[90%] tablet:w-[85%] max-w-[1200px] mx-auto mt-9 mobile:mt-[80px]"
>
  <app-breadcrumb
    [pages]="[
      { name: 'my cart', route: '/cart' },
      { name: 'checkout', route: '/checkout' },
    ]"
  />
  <h3 class="block mobile:hidden font-medium text-lg text-type_title mt-4">
    Checkout
  </h3>

  <div
    class="mt-8 flex flex-col min-[750px]:flex-row gap-y-8 gap-x-6 items-start"
  >
    <div class="space-y-4 grow w-full min-[750px]:w-[60%]">
      <h3 class="font-semibold text-type_title">Billing Address</h3>
      <app-checkout-address (selectedAddressEmit)="onSelectedAddress($event)" />
    </div>

    <div class="space-y-4 grow w-full min-[750px]:w-[40%]">
      <h3 class="font-semibold text-type_title">Your order</h3>
      <app-order-summary [cart]="cart()" />
      <div class="mt-3">
        <h3 class="font-semibold text-type_title mb-2">Payment</h3>
        <app-payment-options
          (paymentOptionSelected)="onSelectPaymentMethod($event)"
        />

        <button
          class="w-full rounded-full text-white font-medium bg-primary hover:bg-opacity-75 py-2 h-12 block disabled:bg-opacity-25 mt-10"
          [disabled]="!selectPaymentMethod || !selectedAddress"
          (click)="onPay()"
        >
          Place order
        </button>
      </div>
    </div>
  </div>
</div>
