<div
  class="w-[90%] tablet:w-[85%] max-w-[1200px] mx-auto mt-9 mobile:mt-[80px]"
>
  <app-breadcrumb
    [pages]="[
      { name: 'my cart', route: '/cart' },
      { name: 'checkout', route: '/checkout' }
    ]"
  />
  <h3 class="block mobile:hidden font-medium text-lg text-type_title mt-4">
    Checkout
  </h3>

  <div
    class="mt-8 flex flex-col min-[750px]:flex-row gap-y-8 gap-x-6 items-start"
  >
    <div class="space-y-4 grow w-full min-[750px]:w-auto">
      <h3 class="font-semibold text-type_title">Billing Address</h3>
      <app-checkout-address />
    </div>

    <div class="space-y-4 grow w-full min-[750px]:w-auto">
      <h3 class="font-semibold text-type_title">Your order</h3>
      <app-order-summary />
      <div class="mt-3">
        <app-payment-options />
      </div>
    </div>
  </div>
</div>
