<div>
  <h1
    class="font-inter tablet:font-playfair font-semibold tablet:text-lg text-3xl"
  >
    FEATURED
  </h1>
  <ul class="mt-1 space-y-2">
    <li
      class="text-type_grey cursor-pointer flex items-center leading-tight group h-[20px]"
    >
      <span
        class="text-primary text-[25px] -translate-y-[2px] mr-2 opacity-0 transition-all duration-300 tablet:group-hover:inline-block tablet:group-hover:opacity-100 tablet:group-hover:translate-x-0"
        >•</span
      >
      <span
        class="category-title transform -translate-x-[22px] tablet:group-hover:translate-x-1 group-hover:text-primary transition-all duration-300"
        >New Arrivals</span
      >
    </li>
    <li
      class="text-type_grey cursor-pointer flex items-center leading-tight group h-[20px]"
    >
      <span
        class="text-primary text-[25px] -translate-y-[2px] mr-2 opacity-0 transition-all duration-300 tablet:group-hover:inline-block tablet:group-hover:opacity-100 tablet:group-hover:translate-x-0"
        >•</span
      >
      <span
        class="category-title transform -translate-x-[22px] tablet:group-hover:translate-x-1 group-hover:text-primary transition-all duration-300"
        >Best Sellers</span
      >
    </li>
  </ul>
</div>
