<div class="flex flex-col space-y-1 mobile:space-y-3 group">
  <div
    class="relative w-full h-[180px] mobile:h-[230px]"
    (click)="onViewDetails(product())"
  >
    <div
      class="absolute top-0 left-0 w-full h-full bg-type_grey clip-polygon z-[100]"
    ></div>
    <div
      class="absolute top-1/2 left-1/2 -translate-y-1/2 -translate-x-1/2 w-[99%] h-[99%] bg-white clip-polygon z-[101]"
    ></div>

    <div
      class="absolute top-1/2 left-1/2 -translate-y-1/2 -translate-x-1/2 w-[93%] h-[93%] bg-type_grey clip-polygon z-[102]"
    ></div>

    <div
      class="absolute top-1/2 left-1/2 -translate-y-1/2 -translate-x-1/2 w-[92%] h-[92%] bg-type_grey clip-polygon z-[103]"
    >
      <!--      <div-->
      <!--        class="absolute shadow-md top-0 right-0 bg-yellow-400 text-black py-1 px-3 text-[10px] font-semibold text-center leading-[1]"-->
      <!--      >-->
      <!--        <div>SOLD</div>-->
      <!--        <div>OUT</div>-->
      <!--      </div>-->
      <img
        [src]="product().imageUrls[1]"
        [alt]="product().name"
        class="hidden group-hover:inline w-full h-full object-cover"
        alt=""
      />
      <img
        [src]="product().image"
        [alt]="product().name"
        class="inline group-hover:hidden w-full h-full object-cover"
      />
    </div>
  </div>

  <div class="w-full">
    <h3
      class="text-base md:text-lg font-medium text-type_title_gray w-full break-words truncate"
    >
      {{ product().name }}
    </h3>
    <div class="flex items-center space-x-1 mb-1 mobile:mb-3">
      <div class="space-x-[2px]">
        @for (item of [1, 2, 3, 4, 5]; track item) {
          <span class="text-[#CE8600]">★</span>
        }
      </div>
      <span class="text-type_title_gray">({{ '20' }})</span>
    </div>
    <div
      class="flex items-start mobile:items-center flex-col mobile:flex-row justify-between gap-x-2 gap-y-4"
    >
      <p class="text-type_title md:text-lg text-base font-semibold">
        {{ product().price | currency: '₦' : 'symbol' : '1.0-0' }}
      </p>

      <button
        class="flex items-center rounded-full justify-between space-x-2 border-[2px] border-primary px-3 py-2 whitespace-nowrap text-xs w-full mobile:w-auto min-w-[100px]"
        [disabled]="isAddingToCart()"
        (click)="onAddToCart()"
      >
        @if (isAddingToCart()) {
          <app-loader
            [customStyle]="{ width: '18px', border: '3px solid #000' }"
          />
        } @else {
          <span>Add to Cart</span>
        }
        <img
          src="assets/images/icons/shopping-cart.svg"
          alt=""
          class="w-[18px]"
        />
      </button>
    </div>
  </div>
</div>
