<div class="flex items-center justify-center">
  <div class="flex items-center justify-between w-[85%] py-4">
    <div>
      <img src="assets/images/icons/logo.png" alt="" class="w-[120px]" />
    </div>

    <div class="relative w-1/2 h-[43px]">
      <img
        src="assets/images/icons/search.svg"
        alt=""
        class="absolute left-3 top-0 translate-y-[43%]"
      />
      <input
        class="w-full focus:outline-0 rounded-full bg-bg_subtle border border-border_subtle h-full pl-12 text-type_caption font-medium placeholder:text-type_caption"
        placeholder="Search"
      />
    </div>

    <div class="flex items-center space-x-4">
      <div class="cursor-pointer">
        <img src="assets/images/icons/shopping-cart.svg" alt="" />
      </div>
      <div
        class="flex items-center justify-center h-8 w-8 rounded-full border-[3px] border-[#333333] cursor-pointer"
      >
        <img src="assets/images/icons/user.svg" alt="" />
      </div>
    </div>
  </div>
</div>
