<div
  class="w-[90%] tablet:w-[85%] max-w-[1200px] mx-auto mt-9 mobile:mt-[80px]"
>
  <app-breadcrumb
    [pages]="[
      { name: 'orders', route: '/orders' },
      { name: 'order details', route: '/orders/' + id },
    ]"
  />
  <h3 class="block mobile:hidden font-medium text-lg text-type_title mt-4">
    Order Details
  </h3>

  <div class="w-full min-[700px]:w-[70%] max-w-[800px] mt-8">
    <div class="text-center">
      <h3 class="text-lg text-[#2E7D32] mb-1 font-semibold">Verified</h3>
      <p class="text-sm text-type_grey">
        Your order has been verified, we are confirming your payment
      </p>
    </div>

    <div class="my-8">
      <app-order-tracker />
    </div>
  </div>
</div>
