<div class="pb-10 overflow-hidden">
  <section
    class="w-full h-[430px] bg-[url('assets/images/banner.png')] bg-no-repeat bg-cover object-contain"
  ></section>

  <div
    class="flex items-start space-x-10 w-[85%] max-w-[1200px] mx-auto mt-[80px]"
  >
    <div class="w-[30%] min-w-[200px] max-w-[210px] space-y-6">
      <div>
        <app-featured-product />
      </div>
      <div>
        <app-categories />
      </div>
      <div>
        <app-filters />
      </div>
    </div>

    <div class="w-[70%] grow">
      <app-product-nav />
      <div class="mt-10 w-full">
        <app-products-showcase />
      </div>
    </div>
  </div>
</div>
