<div>
  <div class="mb-7">
    <div class="mobile:flex hidden items-center text-lg">
      <div
        class="text-type_grey cursor-pointer uppercase flex items-center"
        routerLink="/admin/orders"
      >
        <span>ALL ORDERS</span>

        <span class="mx-3">></span>
      </div>
      <div class="text-type_title font-semibold">ORDER DETAILS</div>
    </div>

    <button
      class="mobile:hidden outline-0 flex items-center justify-center h-6 w-6 rounded-[3px] border-[1px] border-border_subtle"
      routerLink="/admin/orders"
    >
      <i class="fa fa-angle-left font-bold"></i>
    </button>
  </div>

  <div class="flex flex-col min-[1070px]:flex-row gap-6 max-w-[1400px]">
    <div class="w-full min-[1070px]:w-3/5 grow">
      <app-admin-order-summary [order]="order" />
    </div>

    <div class="w-full min-[1070px]:w-2/5 grow space-y-6">
      <div>
        <app-admin-order-status [order]="order" />
      </div>

      <div>
        <app-admin-order-customer-info [order]="order" />
      </div>
    </div>
  </div>
</div>
