<div
  class="items-center text-type_caption text-xs border-[1px] border-border_subtle h-8 inline-flex overflow-hidden bg-white"
>
  <div
    class="p-2 cursor-pointer w-12 text-center mobile:w-auto"
    (click)="onAdjustQuantity('decrease')"
  >
    <i class="fa fa-minus"></i>
  </div>
  <div
    class="border-x-[1px] border-border_subtle text-base text-type_title_grey w-12 h-full flex items-center justify-center"
  >
    <span>{{ quantity() }}</span>
  </div>
  <div
    class="p-2 cursor-pointer w-12 text-center mobile:w-auto"
    (click)="onAdjustQuantity('increase')"
  >
    <i class="fa fa-plus"></i>
  </div>
</div>
