<div class="border-[2px] border-border_subtle rounded-xl">
  <div class="flex items-center p-4 border-b-[2px] border-border_subtle">
    <p-radioButton
      name="payment"
      value="pay on delivery"
      [(ngModel)]="paymentOption"
      (ngModelChange)="onSelectPaymentMethod()"
      inputId="payOnDelivery"
    />
    <label for="payOnDelivery" class="ml-2"> Pay on delivery </label>
  </div>

  <div class="flex items-center p-4">
    <p-radioButton
      name="payment"
      value="paystack"
      [(ngModel)]="paymentOption"
      (ngModelChange)="onSelectPaymentMethod()"
      inputId="paystack"
    />
    <label for="paystack" class="ml-2"> Pay with paystack </label>
  </div>
</div>

@if (paymentOption === 'paystack') {
  <div class="mt-3 p-2 bg-yellow-400">
    <p class="text-sm">
      The amount displayed in the payment window may be lower than your actual
      cart amount due to limitations on the Paystack test account.
    </p>
  </div>
}
