<div class="border-[2px] border-border_subtle rounded-xl">
  <div class="flex items-center p-4 border-b-[2px] border-border_subtle">
    <p-radioButton
      name="payment"
      value="payOnDelivery"
      [(ngModel)]="paymentOption"
      (ngModelChange)="onSelectPaymentMethod()"
      inputId="payOnDelivery"
    />
    <label for="payOnDelivery" class="ml-2"> Pay on delivery </label>
  </div>

  <div class="flex items-center p-4">
    <p-radioButton
      name="payment"
      value="paystack"
      [(ngModel)]="paymentOption"
      (ngModelChange)="onSelectPaymentMethod()"
      inputId="paystack"
    />
    <label for="paystack" class="ml-2"> Pay with paystack </label>
  </div>
</div>
