@if (!isLoading() && !isError()) {
  @if (productsData().products.length) {
    <div class="w-full">
      <app-generic-table
        [data]="productsData()"
        [tableData]="productsData().products"
        [itemsToShowInput]="filter().pageSize"
        [searchValueInput]="filter().name"
        [title]="'Product List'"
        [parentInjected]="injecting()"
        (pageChanged)="pageChange($event)"
        (itemsToShowChanged)="pageSizeChange($event)"
        (searchValueEmit)="searchChanged($event)"
      >
        @if (!injecting()) {
          <button
            class="bg-primary rounded-full text-white hover:bg-opacity-85 font-medium py-[6px] px-7 whitespace-nowrap text-[10px] mobile:text-sm"
            ngProjectAs="add-button"
            routerLink="/admin/add-product"
          >
            Add Product
          </button>
        }

        <button
          class="h-8 border-border_subtle border-[2px] px-2 bg-transparent rounded-full text-type_caption flex items-center space-x-2 relative"
          ngProjectAs="table-filters"
          (click)="filterMenu.toggle($event)"
        >
          @if (filterNumber) {
            <span
              class="absolute -top-2 -right-2 h-5 w-5 flex items-center justify-center bg-primary text-white p-2 text-xs font-medium rounded-full"
              >{{ filterNumber }}</span
            >
          }
          <i class="fa fa-filter"></i>
          <span>Filter</span>
        </button>

        <ng-template #headers>
          <th
            class="cursor-pointer px-2 mobile:px-4 py-3 text-left text-[10px] mobile:text-xs text-type_gray font-medium"
            (click)="sortTable('name')"
          >
            <div class="flex items-center space-x-1">
              <span> PRODUCT NAME</span>
              <span class="flex flex-col">
                <i
                  class="fa fa-caret-up text-xs"
                  [ngClass]="
                    sortDirection === 'asc' && sortUsed
                      ? 'opacity-100'
                      : 'opacity-30'
                  "
                ></i>
                <i
                  class="fa fa-caret-down text-xs -mt-[10px]"
                  [ngClass]="
                    sortDirection === 'desc' ? 'opacity-100' : 'opacity-30'
                  "
                ></i>
              </span>
            </div>
          </th>

          <th
            (click)="sortTable('price')"
            class="px-2 mobile:px-4 py-3 text-left cursor-pointer text-[10px] mobile:text-xs text-type_gray font-medium"
          >
            <div class="flex items-center space-x-1">
              <span> PRICE</span>
              <span class="flex flex-col">
                <i
                  class="fa fa-caret-up text-xs"
                  [ngClass]="
                    sortDirection === 'asc' && sortUsed
                      ? 'opacity-100'
                      : 'opacity-30'
                  "
                ></i>
                <i
                  class="fa fa-caret-down text-xs -mt-[10px]"
                  [ngClass]="
                    sortDirection === 'desc' ? 'opacity-100' : 'opacity-30'
                  "
                ></i>
              </span>
            </div>
          </th>
          <th
            (click)="sortTable('category')"
            class="px-2 mobile:px-4 py-3 text-left cursor-pointer text-[10px] mobile:text-xs text-type_gray font-medium hidden mobile:table-cell"
          >
            <div class="flex items-center space-x-1">
              <span> {{ !injecting() ? 'CATEGORY' : 'SUBCATGEORY' }}</span>

              <span class="flex flex-col">
                <i
                  class="fa fa-caret-up text-xs"
                  [ngClass]="
                    sortDirection === 'asc' && sortUsed
                      ? 'opacity-100'
                      : 'opacity-30'
                  "
                ></i>
                <i
                  class="fa fa-caret-down text-xs -mt-[10px]"
                  [ngClass]="
                    sortDirection === 'desc' ? 'opacity-100' : 'opacity-30'
                  "
                ></i>
              </span>
            </div>
          </th>
          <th
            class="px-2 mobile:px-4 py-3 text-left cursor-pointer text-[10px] mobile:text-xs text-type_gray font-medium hidden mobile:table-cell"
            (click)="sortTable('unit')"
          >
            <div class="flex items-center space-x-1">
              <span>IN STOCK</span>

              <span class="flex flex-col">
                <i
                  class="fa fa-caret-up text-xs"
                  [ngClass]="
                    sortDirection === 'asc' && sortUsed
                      ? 'opacity-100'
                      : 'opacity-30'
                  "
                ></i>
                <i
                  class="fa fa-caret-down text-xs -mt-[10px]"
                  [ngClass]="
                    sortDirection === 'desc' ? 'opacity-100' : 'opacity-30'
                  "
                ></i>
              </span>
            </div>
          </th>
          <th
            class="px-2 mobile:px-4 py-3 text-left cursor-pointer text-[10px] mobile:text-xs text-type_gray font-medium hidden mobile:table-cell"
            (click)="sortTable('createdAt')"
          >
            <div class="flex items-center space-x-1">
              <span>DATE ADDED</span>

              <span class="flex flex-col">
                <i
                  class="fa fa-caret-up text-xs"
                  [ngClass]="
                    sortDirection === 'asc' && sortUsed
                      ? 'opacity-100'
                      : 'opacity-30'
                  "
                ></i>
                <i
                  class="fa fa-caret-down text-xs -mt-[10px]"
                  [ngClass]="
                    sortDirection === 'desc' ? 'opacity-100' : 'opacity-30'
                  "
                ></i>
              </span>
            </div>
          </th>
          <th
            class="px-2 mobile:px-4 py-3 text-left text-[10px] mobile:text-xs text-type_gray font-medium"
          >
            ACTION
          </th>
        </ng-template>

        <ng-template #rows let-product="row">
          <td class="px-2 mobile:px-4 py-5 font-semibold">
            <div class="flex items-center space-x-2">
              <div
                class="w-8 mobile:w-10 h-8 mobile:h-10 min-w-8 mobile:min-w-10 min-h-8 mobile:min-h-10 rounded-md overflow-hidden"
              >
                <img
                  [src]="product.image"
                  [alt]="product.name"
                  class="w-full"
                />
              </div>
              <p>{{ product.name }}</p>
            </div>
          </td>

          <td class="px-2 mobile:px-4 py-5 font-semibold">
            {{ product.price | currency: '₦' : 'symbol' : '1.0-0' }}
          </td>

          <td class="px-2 mobile:px-4 py-5 hidden mobile:table-cell">
            {{
              !injecting() ? product.category.name : product.subCategory.name
            }}
          </td>
          <td class="px-2 mobile:px-4 py-5 hidden mobile:table-cell">
            {{ product.unit }}
          </td>
          <td class="px-2 mobile:px-4 py-5 hidden mobile:table-cell">
            {{ product.createdAt | date }}
          </td>
          <td class="px-2 mobile:px-4 py-2">
            <button
              class="py-2 px-3"
              (click)="onOpenProductActionMenu($event, product)"
            >
              <div>
                <div class="rounded-full w-1 h-1 bg-type_grey"></div>
                <div class="rounded-full w-1 h-1 bg-type_grey my-[1px]"></div>
                <div class="rounded-full w-1 h-1 bg-type_grey"></div>
              </div>
            </button>
          </td>

          <p-menu #menu [popup]="true" styleClass="product-menu">
            <ng-template pTemplate="start">
              <div class="w-full flex flex-col py-2 space-y-2">
                <button
                  class="bg-transparent border-0 py-1 px-4 text-left text-type_title_gray hover:text-primary font-semibold text-sm"
                  (click)="onViewDetails()"
                >
                  View Details
                </button>
                <button
                  class="bg-transparent border-0 py-1 px-4 text-left text-type_title_gray hover:text-primary font-semibold text-sm"
                  (click)="onEdit()"
                >
                  Edit
                </button>

                <button
                  class="bg-transparent border-0 py-1 px-4 text-left text-type_title_gray hover:text-primary font-semibold text-sm"
                  (click)="onDelete()"
                >
                  Delete
                </button>
              </div>
            </ng-template>
          </p-menu>
        </ng-template>
      </app-generic-table>
    </div>
    <p-menu #filterMenu [popup]="true" styleClass="admin-product-order-menu">
      <ng-template pTemplate="start">
        <div class="py-3 px-3 w-[250px]">
          <div class="flex items-center justify-between space-x-3">
            <h3 class="text-base text-type_title">Filters</h3>
            @if (filterNumber) {
              <button
                class="bg-transparent text-primary font-medium text-sm py-2"
                (click)="onClearFilter()"
              >
                Clear
              </button>
            }
          </div>

          <div class="mt-2">
            @if (!injecting()) {
              <div>
                <p class="text-sm text-type_title mb-1">Category</p>
                <div class="w-full">
                  <p-dropdown
                    [options]="categories()!"
                    [(ngModel)]="selectedCategory"
                    (ngModelChange)="onChangeCategory($event)"
                    [loading]="!categories()"
                    optionLabel="name"
                    placeholder="Select Category"
                    styleClass="deliveryStatusDropdown"
                  />
                </div>
              </div>
            }

            <div class="mt-4">
              <p class="text-sm text-type_title mb-1">Subcategory</p>
              <div class="w-full">
                <p-dropdown
                  [options]="subCategories"
                  [(ngModel)]="selectedSubCategory"
                  (ngModelChange)="onChangeSubCategory($event)"
                  optionLabel="name"
                  placeholder="Select Subcategory"
                  styleClass="deliveryStatusDropdown"
                />
              </div>
            </div>

            <div class="price-slider mt-4 mb-5">
              <p class="text-sm text-type_title mb-1">Price</p>
              <div class="text-type_grey text-sm mb-2">
                <span>₦{{ rangeValues[0] | number }}</span>
                <span> - </span>
                <span>₦{{ rangeValues[1] | number }}</span>
              </div>
              <div class="card flex justify-content-center"></div>
              <p-slider
                [(ngModel)]="rangeValues"
                (ngModelChange)="onRangeValueChanged($event)"
                [min]="1000"
                [max]="10000000"
                [step]="5000"
                [range]="true"
                styleClass="w-10rem"
              />
            </div>

            <div class="">
              <p class="text-sm text-type_title mb-1">Date range</p>
              <div class="relative">
                <p-calendar
                  stop-click-propagation
                  [(ngModel)]="rangeDates"
                  (ngModelChange)="onDateChanged()"
                  selectionMode="range"
                  dateFormat="dd/mm/yy"
                  [readonlyInput]="true"
                  styleClass="orderDate"
                  class="w-full"
                  [showIcon]="true"
                >
                  <ng-template
                    pTemplate="inputicon"
                    let-clickCallBack="clickCallBack"
                  >
                    <span (click)="clickCallBack($event)">
                      <i class="fa fa-calendar"></i>
                    </span>
                  </ng-template>
                </p-calendar>
              </div>
            </div>
          </div>

          <div class="flex items-center justify-between mt-8">
            <button
              class="rounded-md font-medium border-primary border-[2px] text-primary py-2 h-8 w-[80px] flex items-center justify-center px-4"
              type="button"
              (click)="menu.toggle($event)"
            >
              Cancel
            </button>
            <button
              class="rounded-md text-white font-medium bg-primary py-2 px-4 h-8 w-[80px] flex items-center justify-center"
              type="button"
              (click)="onApplyFilter()"
            >
              Apply
            </button>
          </div>
        </div>
      </ng-template>
    </p-menu>
  } @else if (productQueried()) {
    @if (injecting()) {
      <h2
        class="text-type_title_gray text-sm mobile:text-base font-medium mb-2"
      >
        Product List
      </h2>
    }
    <div
      class="flex flex-col items-center text-center w-full mobile:w-1/2 mx-auto space-y-1 mt-8 pb-[200px]"
    >
      <div>
        <p class="text-sm mobile:text-lg text-type_caption mt-1 mb-10">
          No products matched your search!
        </p>
        <button
          class="w-full rounded-full text-white font-medium bg-primary py-2 h-12 block"
          (click)="onReturn()"
        >
          Return
        </button>
      </div>
    </div>
  }
} @else if (isError()) {
  <h2
    class="text-type_title_gray text-base mobile:text-[20px] font-medium"
    [ngClass]="{ '!text-sm mobile:!text-base': injecting() }"
  >
    Product List
  </h2>
  <div class="flex items-center flex-col justify-center">
    <h3 class="mb-5">An error occurred</h3>

    <button
      class="rounded-full text-white font-medium w-[200px] min-[450px]:w-[300px] bg-primary py-2 h-12"
      (click)="onRetryLoad()"
    >
      Retry
    </button>
  </div>
} @else {
  <h2
    class="text-type_title_gray text-base mobile:text-[20px] font-medium"
    [ngClass]="{ '!text-sm mobile:!text-base': injecting() }"
  >
    Product List
  </h2>
  <div class="w-full space-y-2 mt-2">
    @for (item of [1, 2, 3, 4, 5]; track item) {
      <div>
        <p-skeleton width="100%" height="4rem" />
      </div>
    }
  </div>
}
