<div class="flex items-start space-x-3 h-full overflow-hidden relative">
  <div
    class="sticky h-screen w-1/2 overflow-hidden bg-[url('assets/images/toy-7.jpeg')] bg-no-repeat bg-cover object-contain flex items-center justify-center flex-col text-white px-3 text-center max-[750px]:hidden"
  ></div>

  <div
    class="flex items-center w-1/2 overflow-y-auto h-full py-[60px] max-[750px]:w-full text-white pl-10 max-[850px]:justify-center max-[850px]:pl-4 max-[850px]:pr-4"
  >
    <router-outlet />
  </div>
</div>
