.active {
  background-color: #f6f1e9;
  border-right: 3px solid #1c1c1c;
  border-bottom-right-radius: 3px;
  border-top-right-radius: 3px;
  font-weight: 500;
  color: #333333;

  & svg {
    fill: #333333;
    stroke: #333333;

    & path {
      //fill: #333333;
      stroke: #333333;
    }
  }
}
