<div class="flex justify-between items-start space-x-3">
  @for (event of trackingEvents(); track event.id; let i = $index) {
    <div class="grow">
      <div class="flex items-center space-x-3">
        <img
          appOrderStatusIcon
          [timeLine]="trackingEvents()!"
          [status]="event"
          alt=""
          class="w-6 tablet:w-8"
        />
        @if (i < timeLine.length - 1) {
          <div
            class="bg-border_subtle h-[2px] min-w-[40px] w-[40px] min-[700px]:w-[120px] grow shrink"
          ></div>
        }
      </div>
      <p class="text-type_title_gray font-medium my-2 text-sm">
        {{ event.remark | deliveryEventRemark }}
      </p>
      <div class="text-type_caption font-semibold text-xs tablet:text-base">
        @if (event.status) {
          <span>
            {{ event.updatedAt | date }}
          </span>
        } @else {
          <span>Waiting...</span>
        }
      </div>
    </div>
  }
</div>
