<div class="mobile:flex hidden items-center text-lg">
  <!--  <div class="text-type_grey cursor-pointer" routerLink="/">HOME</div>-->
  <!--  <div-->
  <!--    class="flex items-center space-x-2 text-type_title font-semibold uppercase"-->
  <!--  >-->
  <!--    <span>> </span> <span>{{ newRoute() }}</span>-->
  <!--  </div>-->

  @for (page of newPages; track page.name; let i = $index) {
    <div
      class="text-type_grey cursor-pointer uppercase flex items-center"
      [ngClass]="{
        'text-type_title font-semibold':
          router.url.includes(page.route.slice(1)) &&
          page.name.toLowerCase() !== 'home',
      }"
      [routerLink]="[page.route]"
    >
      <span>{{ page.name }}</span>
      @if (i != newPages.length - 1) {
        <span class="mx-3">></span>
      }
    </div>
  }
</div>

<div
  class="mobile:hidden flex items-center justify-center h-6 w-6 rounded-[3px] border-[1px] border-border_subtle"
  routerLink="/"
>
  <i class="fa fa-angle-left font-bold"></i>
</div>
