<div class="pt-5">
  <div>
    <div class="pb-3 border-b-[2px] border-border_subtle">
      <div
        class="flex items-center justify-between space-x-3 text-sm mobile:text-[20px] text-type_title_gray mb-3"
      >
        <p>Product</p>
        <p>Total</p>
      </div>

      <div class="space-y-2">
        @for (item of cart().cartItems; track item.id) {
          <div
            class="flex items-center justify-between space-x-3 text-sm mobile:text-[20px] text-type_title_gray"
          >
            <div class="flex items-center space-x-2 w-[70%]">
              <img
                [src]="item?.product?.image"
                [alt]="item?.product?.name"
                class="w-12 h-12 min-w-12 min-h-12 object-cover"
              />
              <div class="text-sm text-type_grey break-words">
                <p>{{ item?.product?.name }}</p>
                <p class="text-type_title font-semibold">x{{ item.unit }}</p>
              </div>
            </div>
            <p
              class="text-sm mobile:text-base text-type_grey w-[30%] text-right whitespace-nowrap"
            >
              {{ item.total | currency: '₦' : 'symbol' : '1.0-0' }}
            </p>
          </div>
        }
      </div>
    </div>

    <div
      class="flex items-center justify-between space-x-4 text-sm mobile:text-base text-type_title_gray py-3 border-b-[2px] border-border_subtle"
    >
      <p>Subtotal</p>
      <p class="text-type_title_gray font-semibold">
        {{ cart().cartItems | subtotal | currency: '₦' : 'symbol' : '1.0-0' }}
      </p>
    </div>

    <div
      class="flex items-center justify-between space-x-4 text-sm mobile:text-base text-type_title_gray py-3 border-b-[2px] border-border_subtle"
    >
      <p>Delivery Fee</p>
      <p class="text-type_title_gray font-semibold">
        {{
          cart().cartItems | totalDelivery | currency: '₦' : 'symbol' : '1.0-0'
        }}
      </p>
    </div>

    <div
      class="flex items-center justify-between space-x-4 text-sm mobile:text-base text-type_title_gray py-3 border-b-[2px] border-border_subtle"
    >
      <p>Total</p>
      <p class="text-type_title_gray font-semibold text-lg mobile:text-2xl">
        {{ cart().cartItems | grandTotal | currency: '₦' : 'symbol' : '1.0-0' }}
      </p>
    </div>
  </div>
</div>
