<div class="pb-10 overflow-hidden">
  <section class="w-full h-[430px]">
    <img
      src="assets/images/group-stuffed-animals-sit-wooden-floor.jpg"
      alt=""
      class="w-full h-full object-cover"
      loading="eager"
    />
  </section>

  <div
    class="flex items-start min-[760px]:space-x-10 w-[90%] min-[760px]:w-[85%] max-w-[1200px] mx-auto mt-[50px]"
  >
    <div
      class="hidden min-[760px]:block w-[30%] min-w-[200px] max-w-[210px] space-y-6"
    >
      <!--      <div>-->
      <!--        <app-featured-product />-->
      <!--      </div>-->
      <div>
        <app-categories />
      </div>
      <div>
        <app-filters />
      </div>
    </div>

    <div class="w-full min-[760px]:w-[70%] grow">
      <app-product-nav />
      <div class="mt-5 w-full">
        <app-products-showcase />
      </div>
    </div>
  </div>
</div>
