<div class="pb-10 overflow-hidden">
  <section class="w-full h-[430px] min-[1400px]:h-[550px] relative">
    <div
      class="absolute h-full w-full left-0 top-0 bg-black bg-opacity-65"
    ></div>
    <video
      autoplay
      loop
      [muted]="true"
      playsinline
      src="https://tentdyesixetvyacewwr.supabase.co/storage/v1/object/sign/app-images/hero-video-compressed-medium.mp4?token=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1cmwiOiJhcHAtaW1hZ2VzL2hlcm8tdmlkZW8tY29tcHJlc3NlZC1tZWRpdW0ubXA0IiwiaWF0IjoxNzM2MzA0NDU5LCJleHAiOjE3MzgwMzI0NTl9.lGS3ShbfwoL5BrZB0Hbgmqryo8eT5e_3Au9KD0EcLbo&t=2025-01-08T02%3A47%3A38.860Z"
      poster="https://tentdyesixetvyacewwr.supabase.co/storage/v1/object/sign/app-images/hero-video-compressed.mp4_20250108_032828.382.jpg?token=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1cmwiOiJhcHAtaW1hZ2VzL2hlcm8tdmlkZW8tY29tcHJlc3NlZC5tcDRfMjAyNTAxMDhfMDMyODI4LjM4Mi5qcGciLCJpYXQiOjE3MzYzMDM5MjMsImV4cCI6MjM2NzAyMzkyM30.cGeZtv3BhCijDAnXzoiyqgGZSg8Jxi0vWx4ukYzS1kA&t=2025-01-08T02%3A38%3A42.624Z"
      class="w-full h-full object-cover"
    >
      Your browser does not support the video tag.
    </video>
  </section>

  <div
    class="flex items-start min-[760px]:space-x-10 w-[90%] min-[760px]:w-[85%] max-w-[1200px] mx-auto mt-[50px]"
  >
    <div
      class="hidden min-[760px]:block w-[30%] min-w-[200px] max-w-[210px] space-y-6"
    >
      <!--      <div>-->
      <!--        <app-featured-product />-->
      <!--      </div>-->
      <div>
        <app-categories />
      </div>
      <div>
        <app-filters />
      </div>
    </div>

    <div class="w-full min-[760px]:w-[70%] grow">
      <app-product-nav />
      <div class="mt-5 w-full">
        <app-products-showcase />
      </div>
    </div>
  </div>
</div>
